<footer class="footer">
    <ul class="foo-list socials">
        <li class="socials-item"><a href="#"><i class="fab fa-facebook-square"></i>
            </a></li>
        <li class="socials-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
        <li class="socials-item"><a href="#"><i class="fab fa-github"></i></a></li>
    </ul>
    <ul class="foo-list">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Правообладателям</a></li>
    </ul>
    {{!-- <div class="asd"></div> --}}
</footer>
<div class="favModal">ADDED</div>