<header class="header">
    <a href="../index.html" class="humburger-menu-btn js-menu-btn">
        <i class="fas fa-bars"></i>
    </a>
    <div class="logo">
        <img src="../images/cinema2.jpg" alt="as" class="logo-img" height="80" width="165">
        <a href="#" class="logo-link">KINOFILM</a>
    </div>
    <form class="search-container">
        <button class="search-btn">
            <i class="fas fa-search"></i>

        </button>
        <input type="text" class="search" placeholder="Поиск">
        </from>

</header>