<main class="main wrapper">
    <ul class="top-category-list">
        <li class="js-btn-latest"><a href="#">latest</a></li>
        <li class="js-btn-movies"><a href="#">upComing</a></li>
        <li class="js-btn-series"><a href="#">series</a></li>
        <li class="js-btn-toprated"><a href="#">top rated</a></li>
    </ul>
    <select name="genres" id="genres">
        <option value="">--genres--</option>
        <option value="28">Action</option>
        <option value="12">Adventure</option>
        <option value="16">Animation</option>
        <option value="35">Comedy</option>
        <option value="80">Crime</option>
        <option value="99">Documentary</option>
    </select>
    <div class="container"></div>


</main>