ul,
li,
a {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
body {
  padding: 0 15px;
  min-width: 420px;

  background-image: url("../images/Paramount-100-years-large.jpg");
  background-size: contain 100%;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}
body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  border: none;
}
