ul,
li,
a {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
body {
  padding: 0 15px;

  background: linear-gradient(
    135deg,
    rgb(247, 250, 252) 0%,
    rgb(194, 194, 194) 1%,
    rgba(21, 25, 64, 1) 100%
  );
}
body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  border: none;
}
