.card-list.title {
  font-size: 16px;
  z-index: 2;
}
.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &_vote {
    font-size: 20px;
    width: 60px;
    position: absolute;
    padding: 5px 15px;
    z-index: 22;
    text-align: center;
    background-color: rgb(101, 192, 228);
    border-radius: 10px 0 10px 0;
  }
  &_name {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 25px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    z-index: 22;
    padding: 10px;
    top: 20px;
  }
  // &_favorites {
  //   z-index: 22;
  //   font-size: 22px;
  //   position: absolute;
  //   right: 0;
  // }
  &_item {
    position: relative;
    -webkit-box-shadow: -2px 1px 26px -1px rgba(138, 123, 138, 1);
    -moz-box-shadow: -2px 1px 26px -1px rgba(138, 123, 138, 1);
    box-shadow: -2px 1px 26px -1px rgba(138, 123, 138, 1);
    flex-basis: 18%;
    height: 300px;
    border-radius: 10px;
    transition: 0.2s linear;
    margin-bottom: 35px;
    cursor: pointer;
    .card-svg {
      position: absolute;
      fill: rgb(236, 222, 94);
      top: 8px;
      right: 8px;
      z-index: 120;
      &:hover {
        fill: rgb(226, 166, 87);
      }
    }
    &:hover {
      transform: translate(0, -10px);
      transition: 0.2s linear;
    }
    & img {
      left: 0;
      width: 100%;
      position: absolute;
      border-radius: 10px;
      height: 100%;
    }
  }

  &_text-content {
    position: absolute;
    z-index: 100;
    padding: 5px;
    & > * {
      font-size: 16px;
      color: aliceblue;
    }
  }
}
