.favorite-card {
  width: 150px;
  height: 150px;
}
.fav-selected {
  fill: rgb(250, 115, 5);
}
.fav-list {
  .fav-close {
    position: absolute;
    right: 0;
    width: 20px;
    height: 25px;
    color: white;
    font-size: 24px;
    z-index: 100;
  }
  .title {
    position: absolute;
    z-index: 100;
    color: white;
    left: 50%;
    transform: translateX(-50%);
  }
  display: flex;
  flex-wrap: wrap;
  .fav-item {
    position: relative;
    width: 200px;
    min-height: 300px;
    margin-right: 20px;
    & img {
      position: absolute;
      height: auto;
      width: 200px;
      top: 0;
      left: 0;
    }
  }
}
