.wrapper {
  width: 1200px;

  margin: 0 auto;
  min-height: 800px;
}
.main {
  // background-image: ;

  padding-top: 25px;
}
.container {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}
