.aside-menu {
  -webkit-box-shadow: 10px 5px 19px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 5px 19px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 5px 19px -8px rgba(0, 0, 0, 0.75);
  transition: 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
  // @media screen and (max-width: 480px) {
  //   width: 240px;
  // }
  .aside-logo {
    height: 200px;
    background-color: rgba(4, 36, 68, 0.8);

    background-image: url("../images//cinema2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  transition: 0.2s linear;
  position: fixed;

  height: 100%;
  width: 300px;
  transform: translateX(-500px);
  overflow: hidden;
  z-index: 130;
  background-color: #f5f5f5;
  left: 0;
  top: 0;

  .films {
    position: relative;
    width: 180px;
    margin: 0 auto;
    padding-top: 80px;
    .menu-close {
      position: absolute;
      top: 10px;
      right: -40px;
      font-size: 25px;
      cursor: pointer;
      color: #6b6377;
    }
    &-head {
      margin-bottom: 20px;
      font-size: 22px;
      color: #6b6377;
      cursor: pointer;
      & i {
        margin-right: 25px;
        @media screen and (max-width: 480px) {
          margin-right: 15px;
        }
      }
      &:hover {
        color: rgba(221, 8, 8, 0.6);
      }
    }
    .films-category-list {
      width: 230px;
      height: 0;
      transition: height 300ms linear;
      overflow: hidden;
      margin: 0 0 20px 10px;
      & > li {
        margin-left: 50px;
        padding: 5px;

        & > a {
          font-size: 16px;

          color: #6b6377;
          &:hover {
            color: rgba(221, 8, 8, 0.6);
          }
        }
      }
    }
  }
}
.category-open {
  height: 100px !important;

  transition: height 300ms linear;
}
.menu-overlay {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  z-index: 99;
  background: transparent;
}
.menu-open {
  transform: translateX(0);
  transition: 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.overlay-open {
  display: block;
}
.top-nav-open {
  background-color: rgba(2, 18, 34, 0.8);
}
.top-menu-link {
  font-size: 18px;
  color: white;
  padding: 15px;
}
.top-nav-menu {
  box-shadow: -2px 20px 15px -17px rgb(22, 18, 54);
  background-color: rgba(2, 29, 59, 0.8);
}
.top-nav-menu_list {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 450px;

  & > li {
    padding: 15px 0 15px 0;
    & a:hover {
      background-color: rgba(15, 67, 128, 0.8);
    }
  }
}
